.seatMap {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-color: red; */
  order: 1;
  flex-direction: column;
}
.seatMapImg {
  max-width: 100%;
  max-height: 50vh;
  display: block;
}
/* }
.inline {
  display: inline-block;
} */
