.eventImage {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
}
.Navigation {
  display: flex;

  /* padding: 20px 0; */
}

.Navigation a {
  color: aliceblue;
  font-size: 15px;
  margin-right: 10px;
  text-decoration: none;
}
